<div style="margin-top: -105px">

	<div class="row justify-content-md-center text-center">
		<div class="col col-3 bg-white habilidades" style="border-radius: 15px 0 0 15px; box-shadow: 0 5px 5px 0 gray">
			<i class="bi bi-braces"></i>
			<h3>Back-end</h3>

			<p>
				el back-end, creando APIs RESTful con ASP.NET Core y Entity Framework Core para manejar datos de manera eficiente y segura.
			</p>
			<p class="text-primary cabecera">
				Stack:
			</p>
			<p>
				C#, ASP.NET Core, Entity Framework Core, SQL Server, RESTful APIs, Autenticación y Autorización, Azure
			</p>
			<p class="text-primary cabecera">
				Experiencia:
			</p>
			<ul>
				<li>Desarrollo de APIs RESTful con ASP.NET Core para aplicaciones web y móviles.</li>
				<li>Implementación de bases de datos relacionales utilizando Entity Framework Core y SQL Server.</li>
				<li>Optimización del rendimiento y seguridad de aplicaciones back-end.</li>
			</ul>

		</div>
		<div class="col col-3 bg-white habilidades" style="border-radius: 0 15px 15px 0; box-shadow: 0 5px 5px 0 gray">
			<div>
				<i class="bi bi-code-slash"></i>
				<h3>Front-end</h3>

				<p>
					Me especializo en el desarrollo de interfaces modernas y responsivas utilizando tecnologías web actuales, asegurando una experiencia de usuario atractiva y funcional.
				</p>
				<p class="text-primary cabecera">
					Stack:
				</p>
				<p>
					HTML, CSS, TypeScript,  Bootstrap,  Figma,
				</p>
				<p class="text-primary cabecera">
					Experiencia:
				</p>
				<ul>
					<li>Diseño y maquetación de interfaces web responsivas y accesibles.</li>
					<li>Integración de prototipos de Figma a código real, manteniendo la fidelidad visual.</li>
					<li>Optimización de la experiencia de usuario y el rendimiento en el frontend.</li>
				</ul>
			</div>
		</div>
	</div>
</div>