@{
	ViewData["Title"] = "Gracias";
}

<div class="container">
	<h1>¡Gracias por contactarme!</h1>
	<h2>He recibido tu mensaje y me pondré en contacto contigo pronto.</h2>
	<div><a asp-action='index' asp-controller="Home">Volver al home</a></div>
</div>