@model IEnumerable<ProyectoDTO>

@{
	ViewData["Title"] = "Proyectos";
}

<div class="container">
	<h1>Mis proyectos</h1>
	<h2>Aquí encontrarás todos los proyectos en los que he trabajado</h2>
</div>

<partial name="_ListadoProyectos" model="Model" />